
.App {
  background-image: url(./images/1680943582602.png);
  max-width: 1400px;
  width: 100%;
  margin: 0 auto;
  padding: 0;
  box-sizing: border-box;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

